<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>


<script type="text/javascript" src="js/app.js"></script>

<!-- Firebase -->
<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>

<!-- AngularFire -->
<script src="https://cdn.firebase.com/libs/angularfire/1.2.0/angularfire.min.js"></script>


<div ng-app="swalty">

    <div class="container" ng-controller="AddRecetteController">

    <form ng-submit="addRecette()">

        <h2> AJOUTER UNE RECETTE </h2>

            <input class="form-control" ng-model="titre" placeholder="titre" /> <br><br>
            <input class="form-control" ng-model="description" placeholder="description" /> <br><br>
            <input class="form-control" ng-model="difficulte" placeholder="difficulte" /> <br><br>
            <input class="form-control" ng-model="temps" placeholder="temps" /> <br><br>
            <input class="form-control" ng-model="nbPersonne" placeholder="nbPersonne" /> <br><br>

        <input class="form-control" ng-model="typeRecette" placeholder="type de la recette : sucre ou sel" /> <br><br>
        <input class="form-control" ng-model="categRecette" placeholder="categorie de la recette : cookie, muffin, gaufre, cake, crepe, event" /> <br><br>

        <input class="form-control" ng-model="ingredient1" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient2" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient3" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient4" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient5" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient6" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient7" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient8" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient9" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient10" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient11" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient12" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient13" placeholder="ingredient" /> <br><br>
        <input class="form-control" ng-model="ingredient14" placeholder="ingredient" /> <br><br>


        <input class="form-control" ng-model="etape1" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape2" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape3" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape4" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape5" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape6" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape7" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape8" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape9" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape10" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape11" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape12" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape13" placeholder="etape" /> <br><br>
        <input class="form-control" ng-model="etape14" placeholder="etape" /> <br><br>


        <!--<input type="file" ng-model="image1" accept="image/*" />-->


            <button class="btn btn-success" type="submit">
                Ajouter la recette
            </button>
    </form>

    </div>

</div>

</body>
</html>